@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", serif !important;
}

.swiper-button-prev,
.swiper-button-next {
  /* width: 45px; */
  padding: 4px !important;
  height: 28px !important;
  background-color: rgba(2, 2, 2, 0);
  border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px !important;
  color: "blue" !important;
}
